<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2019-11TNow">
                        <span>11 <strong class="text-upper">2019</strong> - <strong>至今</strong></span>
                    </time>
                    <h3>Java开发</h3>
                    <span class="education-company">定位系统 | 贵阳联创网络智能科技有限公司</span>
                    <p>使用技术为SpringMvc, Mybatis, JSP, openlayers, maven等等</p>
                    <p>负责项目中功能开发</p>
                    <p>参与部分定位演示测试</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2019-08T2019-11">
                        <span>08 <strong class="text-upper">2019</strong> - 11 <strong>2019</strong></span>
                    </time>
                    <h3>软件测试工程师</h3>
                    <span class="education-company">线上招商贷 | 贵州合石电子商务有限公司</span>
                    <p>使用技术为黑盒测试, 白盒测试, 接口测试等等</p>
                    <p>负责项目中功能测试</p>
                </div>
				
				<div class="education-box">
					    <time class="education-date" datetime="2016-09T2018-09">
					        <span>09 <strong class="text-upper">2016</strong> - 09 <strong>2018</strong></span>
					    </time>
					    <h3>中国人民武装警察部队战斗员</h3>
					    <span class="education-company">武警 | 中国人民武装警察部队</span>
				</div>
				
            </div>
        </div>
    </div>
</section><!-- .section -->